// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

@import "../defaults"
@import "../fonts"
@import "../mixins/colors"
@import "../mixins/icons"
@import "~inuitcss/tools/_tools.font-size"
@import "../colors"

@mixin anchor-style()
  color: $link-color
  text-decoration: $brand-link-text-decoration
  cursor: pointer

  &.plain
  &.button
    text-decoration: none

    &:hover
      text-decoration: none



  &:visited
    color: $link-color


  &.active
    color: $text-color


  // While it's tempting to use :not(.anchor--disabled) here, that makes it
  // messier for things like Menu to adjust styling in its context.
  &:hover
    color: $link-hover-color
    text-decoration: underline


  @include background-context-color($link-color, $link-hover-color)


.grommet a:not(.anchor):not(.button)
  @include anchor-style


.anchor
  @include anchor-style


.anchor__icon
  display: inline-block
  height: double($inuit-global-spacing-unit)
  padding: halve($inuit-global-spacing-unit)

  .control-icon
    @include icon-color($icon-color)


  &:hover
    .control-icon
      @include icon-color($active-icon-color)
      @include icon-hover-grow()



  @include background-context-color($icon-color, $active-icon-color)
  @include background-context-icon($icon-color, $active-icon-color)


.anchor--icon
  flex: 0 0 auto


.anchor--primary,
.anchor--icon-label
  @include inuit-font-size($control-font-size, $inuit-global-spacing-unit)
  font-weight: $control-font-weight
  text-decoration: none

  .control-icon
    vertical-align: middle
    margin-right: halve($inuit-global-spacing-unit)

    html.rtl &
      margin-right: 0
      margin-left: halve($inuit-global-spacing-unit)


  // TODO: Too generic
  > span
    vertical-align: middle


  &:hover:not(.anchor--disabled)
    .control-icon
      @include icon-hover-grow()




.anchor--reverse
  .control-icon
    margin-right: 0
    margin-left: halve($inuit-global-spacing-unit)



.anchor--icon-label:not(.anchor--primary)
  color: $text-color

  &:visited
    color: $text-color


  .control-icon
    @include icon-color($icon-color)


  &:hover:not(.anchor--disabled)
    color: $hover-text-color
    text-decoration: none

    .control-icon
      @include icon-hover-grow()



  @include background-context-color($icon-color, $active-icon-color)
  @include background-context-icon($icon-color, $active-icon-color)


.anchor--primary
  color: $control-brand-color

  .control-icon
    @include icon-color($control-brand-color)


  &.active
    color: $control-brand-color


  // Only animate icon when it's a primary anchor
  &.anchor--animate-icon:not(.anchor--disabled)
    &:hover
      text-decoration: none

      .control-icon
        transform: translateX(round($inuit-global-spacing-unit * 0.125))




  @include background-context-color($control-brand-color, $control-brand-color)
  @include background-context-icon($control-brand-color, $control-brand-color)


.anchor--disabled
  opacity: 0.3
  cursor: default

  .control-icon
    cursor: default



.anchor--disabled:hover
  color: inherit
  text-decoration: none

  &.anchor--primary
    color: $control-brand-color


  &.anchor:not(.anchor--primary)
    color: $link-color


  .dark-context
    @include icon-color($colored-icon-color)

    &.anchor--primary
      color: $colored-icon-color



  .light-context
    @include icon-color($link-color)

    &.anchor--primary
      color: $control-brand-color
